[submodule "src/MDD4All.QvtEditor.EaPlugin"]
	path = src/MDD4All.QvtEditor.EaPlugin
	url = https://github.com/oalt/MDD4All.QvtEditor.EaPlugin.git
	branch = dev
[submodule "src/MDD4All.EnterpriseArchitect.Manipulations"]
	path = src/MDD4All.EnterpriseArchitect.Manipulations
	url = https://github.com/oalt/MDD4All.EnterpriseArchitect.Manipulations.git
	branch = dev
