name: Build QVT Editor Plugin (integration build)

on:  
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:  
  build:    
    runs-on: windows-latest
    env:
      SOLUTION_NAME: MDD4All.QvtEditor-dev.sln

    steps:      
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Setup NuGet
        uses: nuget/setup-nuget@v2
        
      - name: Set version number from date using PS
        uses: Amadevus/pwsh-script@v2
        id: date-version
        with:
          script: |
              ([datetime]::now).tostring("yyyy.M.d")

      - name: Set version variable from date and build number
        env: 
          DATE_VERSION: ${{steps.date-version.outputs.result}}
        run: echo ("VERSION=" + $env:DATE_VERSION + "." + $env:GITHUB_RUN_NUMBER) >> $env:GITHUB_ENV

      - name: Echo version number
        run: echo $env:VERSION

      - name: Update Assembly info versions
        uses: Amadevus/pwsh-script@v2
        id: script
        with:
          script: |
            function Update-SourceVersion
            {
                Param ([string]$Version)
                $NewVersion = 'AssemblyVersion("' + $Version + '")';
                Write-output $NewVersion
                $NewFileVersion = 'AssemblyFileVersion("' + $Version + '")';
                foreach ($o in $input) 
                {
                    Write-output $o.FullName
                    $TmpFile = $o.FullName + ".tmp"
                    get-content $o.FullName | 
                    %{$_ -replace 'AssemblyVersion\("[0-9]+(\.([0-9]+|\*)){1,3}"\)', $NewVersion } |
                    %{$_ -replace 'AssemblyFileVersion\("[0-9]+(\.([0-9]+|\*)){1,3}"\)', $NewFileVersion }  > $TmpFile

                    move-item $TmpFile $o.FullName -force
                }
            }
            Write-output 'Modifiing AssemblyInfos.'
            foreach ($file in "AssemblyInfo.cs", "AssemblyInfo.vb" ) 
            {
                get-childitem -recurse |? {$_.Name -eq $file} | Update-SourceVersion $env:VERSION;
            }

      - name: Restore Packages
        run: nuget restore ./src/${{env.SOLUTION_NAME}}

      - name: Build Solution
        run: msbuild.exe /p:configuration=Release /p:platform='Any CPU' /p:installerFileVersion=${{env.VERSION}} .\src\${{env.SOLUTION_NAME}}

#      - name: Rename MSI file and copy results to output directory
#        shell: pwsh
#        run: |
#            mkdir output
#            cd src\Plugin\Setup\bin\Release
#            ren FMC4SE-Plugin-Setup.msi FMC4SE-Plugin-Setup_${{env.VERSION}}.msi
#            cd $env:GITHUB_WORKSPACE
#            xcopy /y .\src\Plugin\Setup\bin\Release\*.msi output\
            
#      - name: Upload FMC4SE Plugin artifact
#        uses: actions/upload-artifact@v4
#        with:
#          name: FMC4SE-Plugin-Setup_${{env.VERSION}}
#          path: output\*.msi
         
